.main-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../images/main-bg.png') no-repeat center center;
  background-size: 250%; // zoom in (100% = normal, >100% = zoomed)
  background-position: calc(50% + var(--bg-x, 0%)) calc(45% + var(--bg-y, 0%));
  transition: background-position 0.1s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  color: white;
  text-align: center;
  z-index: 2;

  h1 {
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
  }

  p {
    margin-top: 0.5rem;
    font-size: 1.3rem;
    opacity: 0.85;
  }
}